<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Modify Customer Info</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg" style="background-color: #91bdff;">
        <div class="container-xxl">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='images/all4hair_logo.jpg') }}" height="45" alt="all4hair logo">
                <span style="color: #6b5816; font-weight: 700; font-size: medium;">All4Hair</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_customer">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/listing">Find a Provider</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/reports">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <br> </br>


    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}


<div class="container mt-4">

    <h5 style="color: #6b5816;">Update Customer Details</h5>
    <form action="/c_modify" method="POST">

        <label for="fname">First name:</label><br>
          <input type="text" class="form-control" id="fname" name="firstName" value={{ customer[0][1] }} required><br>

        <label for="lname">Last name:</label><br>
          <input type="text" class="form-control" id="lname" name="lastName" value={{ customer[0][2] }} required><br>

        <label for="email">Email Address:</label><br>
          <input type="text" class="form-control" id="email" name="emailAddress" value={{ customer[0][3] }} required><br>

        <label for="pnumber">Phone Number:</label><br>
          <input type="text" class="form-control" id="pnumber" name="phoneNumber" value={{ customer[0][4] }} required><br>

        <br><input type="hidden" name="customer_id" value={{ customer[0][0] }}>
        <button type="submit" class="btn btn-warning">Update</button>
    </form> <br><br>

    <h5 style="color: #6b5816;">My Favorites</h5>
    <table class="table table-striped  table-bordered">
        <tr>
            <th>Provider</th>
            <th>Service</th>
        </tr>
        {% for fav in favorites %}
        <tr>
            <td>{{ fav[1] }}</td>
            <td>{{ fav[2] }}</td>
        </tr>
        {% endfor %}
    </table> <br><br>

    <h5 style="color: #6b5816;">Booking History</h5>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Service</th>
            <th>Date/Time</th>
            <th>Status</th>
            <th>Provider</th>
            <th>Avg Rating</th>
        </tr>
        {% for booking in bookings %}
        <tr>
            <td>{{ booking[1] }}</td>
            <td>{{ booking[2] }}</td>
            <td>{{ booking[3] }}</td>
            <td>{{ booking[4] }}</td>
            <td>{{ booking[6] }}</td>
        </tr>
        {% endfor %}
    </table>


</div>

</body>
</html>