<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>ALL4HAIR</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg" style="background-color: #91bdff;">
        <div class="container-xxl">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='images/all4hair_logo.jpg') }}" height="45" alt="all4hair logo">
                <span style="color: #6b5816; font-weight: 700; font-size: medium;">All4Hair</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/listing">Find a Provider</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_booking">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_customer">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_providers">Providers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/assign_services">Assign Services</a>
                    </li>
                  <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/reports">Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <br> </br>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/all4hair_logo.jpg') }}" height="450" alt="all4hair logo">
            </div>

            <div class="col-md-6">
                <h1 style="color: #6b5816;"class="title">Welcome to All4Hair!</h1>
                <p style="color: #6b5816;">
                    Find independent hair service providers near you.
                    Connect with braiders, stylists and more in your area!
                </p><br><br>
                <a href="/listing" class="btn" style="background-color: #ff914d; color: white;"> Find a Provider </a>
            </div>
        </div>

    </div>



</body>
</html>