<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Providers</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #91bdff;">
        <div class="container-xxl">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='images/all4hair_logo.jpg') }}" height="45" alt="all4hair logo">
                <span style="color: #6b5816; font-weight: 700; font-size: medium;">All4Hair</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/listing">Find a Provider</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_booking">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_customer">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_providers">Providers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/assign_services">Assign Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <br> </br>


    <div class="container mt-5">

    <h3>View Providers</h3></br>

    <table class="table table-striped table-bordered">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Business Name</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Delete User</th>
            <th>Update User</th>
        </tr>
        {% for provider in providers %}
        <tr>
            <td>{{provider[1]}}</td>
            <td>{{provider[2]}}</td>
            <td>{{provider[3]}}</td>
            <td>{{provider[4]}}</td>
            <td>{{provider[5]}}</td>
            <td>{{provider[6]}}</td>
            <td><form action="/delete_provider" method="POST">
                    <input type="hidden" name="provider_id" value={{ provider [0] }}>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
            <td><form action="/p_modify" method="GET">
                    <input type="hidden" name="provider_id" value={{ provider [0] }}>
                    <button type="submit" class="btn btn-warning">Update</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <br><br>
    <a href="/p_register">
        <button type="submit" class="btn btn-primary">Register User</button>
    </a><br>
    </div>

</body>
</html>