<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Provider and Services</title>
</head>

<script>
function updateCustomerId() {
    var customerId = document.getElementById('customer_select').value;
    var fields = document.querySelectorAll('.customer_id_field');
    fields.forEach(function(field) {
        field.value = customerId;
    });
}
</script>

<body onload="updateCustomerId()">
    <nav class="navbar navbar-expand-lg" style="background-color: #91bdff;">
        <div class="container-xxl">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='images/all4hair_logo.jpg') }}" height="45" alt="all4hair logo">
                <span style="color: #6b5816; font-weight: 700; font-size: medium;">All4Hair</span>
            </a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/listing">Find a Provider</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_booking">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_customer">Customers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_providers">Providers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/view_services">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-semibold" style="color: #6b5816;" href="/assign_services">Assign Services</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> <br> </br>

    <div class="container mt-5">

    <h5 style="color: #6b5816;">Customer</h5></br>
    <label>I am: </label>
    <select name="c_id" onchange="updateCustomerId()">
        {% for customer in customers %}
            <option value="{{ customer[0] }}">{{ customer[1] }} {{ customer[2] }}</option>
        {% endfor %}
    </select>

    </br></br>

    <h3 style="color: #6b5816;">View Service Listing</h3></br>

    <table class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Business</th>
            <th>Service</th>
            <th>Price</th>
            <th>Time</th>
            <th>City</th>
            <th>State</th>
            <th>Rating</th>
            <th>Favorite</th>
            <th>Book</th>
        </tr>
        {% for list in psl %}
        <tr>
            <td>{{list[3]}}</td>
            <td>{{list[4]}}</td>
            <td>{{list[5]}}</td>
            <td>{{list[6]}}</td>
            <td>{{list[7]}}</td>
            <td>{{list[8]}}</td>
            <td>{{list[9]}}</td>
            <td>{{list[10]}}</td>
            <td><form action="/add_favs" method="POST">
                    <input type="hidden" name="provider_id" value="{{ list[1] }}">
                    <input type="hidden" name="service_id" value="{{ list[2] }}">
                    <input type="hidden" name="customer_id" class="customer_id_field" value="">  <!-- Trying something -->
                    <button type="submit" class="btn btn-danger">Favorite</button>
                </form>
            </td>
            <td><form action="/booking" method="GET">
                    <input type="hidden" name="provider_id" value="{{ list[1] }}">
                    <input type="hidden" name="service_id" value="{{ list[2] }}">
                    <input type="hidden" name="location_id" value="{{ list[0] }}">
                    <input type="hidden" name="customer_id" value="7">  <!-- HARDCODED VALUE CURRENTLY -->
                    <button type="submit" class="btn btn-primary">Book</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    </div>

</body>
</html>